/MessageBusTests/bin/Debug/MessageBusLib.dll
/MessageBusTests/bin/Debug/MessageBusLib.pdb
/MessageBusTests/bin/Debug/MessageBusTests.dll
/MessageBusTests/bin/Debug/MessageBusTests.pdb
/MessageBusTests/bin/Debug/nunit.framework.dll
/MessageBusTests/bin/Debug/nunit.framework.xml
/MessageBusTests/bin/Release/MessageBusLib.dll
/MessageBusTests/bin/Release/MessageBusLib.pdb
/MessageBusTests/bin/Release/MessageBusTests.dll
/MessageBusTests/bin/Release/MessageBusTests.pdb
/MessageBusTests/bin/Release/nunit.framework.dll
/MessageBusTests/bin/Release/nunit.framework.xml
/MessageBusTests/obj/Debug/CoreCompileInputs.cache
/MessageBusTests/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MessageBusTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MessageBusTests/obj/Debug/MessageBusTests.csproj.FileListAbsolute.txt
/MessageBusTests/obj/Debug/MessageBusTests.csprojResolveAssemblyReference.cache
/MessageBusTests/obj/Debug/MessageBusTests.dll
/MessageBusTests/obj/Debug/MessageBusTests.pdb
/MessageBusTests/obj/Release/CoreCompileInputs.cache
/MessageBusTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MessageBusTests/obj/Release/MessageBusTests.csproj.FileListAbsolute.txt
/MessageBusTests/obj/Release/MessageBusTests.csprojResolveAssemblyReference.cache
/MessageBusTests/obj/Release/MessageBusTests.dll
/MessageBusTests/obj/Release/MessageBusTests.pdb
/MessageBus/bin/Debug/MessageBusLib.dll
/MessageBus/bin/Debug/MessageBusLib.pdb
/MessageBus/bin/Release/MessageBusLib.dll
/MessageBus/bin/Release/MessageBusLib.pdb
/MessageBus/obj/Debug/CoreCompileInputs.cache
/MessageBus/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MessageBus/obj/Debug/MessageBusLib.csproj.FileListAbsolute.txt
/MessageBus/obj/Debug/MessageBusLib.csprojResolveAssemblyReference.cache
/MessageBus/obj/Debug/MessageBusLib.dll
/MessageBus/obj/Debug/MessageBusLib.pdb
/MessageBus/obj/Release/CoreCompileInputs.cache
/MessageBus/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MessageBus/obj/Release/MessageBusLib.csproj.FileListAbsolute.txt
/MessageBus/obj/Release/MessageBusLib.csprojResolveAssemblyReference.cache
/MessageBus/obj/Release/MessageBusLib.dll
/MessageBus/obj/Release/MessageBusLib.pdb
